# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exe

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Dirs
debug/
release/
build/
docs/
_UpgradeReport_Files/
node_modules/

# VS stuff
*.suo
*.sdf
*.vcproj
*.vcxproj
*.filters
*.dsp
*.dsw
UpgradeLog.*
*.log